$base-color: rgb(0, 142, 52);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

/* Header */
header {
  background: $base-color;

  nav > ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      padding: 1rem 0.5rem;
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
  }
}

/* Hero Section */
#hero-section {
  text-align: center;
  padding: 5rem;

  img {
    width: 150px;
    border-radius: 9999rem;
  }
}

#about,
#projects,
#skills,
#contact {
  padding: 1rem;
}

/* Projects */
.project-card {
  border: 3px solid $base-color;
  margin: 0.5rem;

  .project-image {
    width: 100%;
  }

  .project-body {
    padding: 1rem;
  }
}

.input-group {
  margin-bottom: 1rem;
}

/* Skills */
#skills {
  ul {
    padding-left: 2rem;
  }
}

/* Contact */
form {
  padding: 0 1rem;
}

input,
textarea {
  display: block;
  border: 3px solid $base-color;
  padding: 0.2rem 0.5rem;
  width: 100%;
}

button {
  border: 3px solid $base-color;
  background-color: $base-color;
  padding: 0.2rem 0.5rem;
  color: rgb(255, 255, 255);
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
}
